@font-face {
  font-family: "Utendo Medium";
  src: url(../../public/assets/utendo/Utendo-Medium.ttf);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1000px;
  margin: 30px auto 100px;
}
.backbutton {
  background-color: red;
}

.cardImage {
  flex-shrink: 0;
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.detailsContainer {
  /* padding: 20px; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #252424;
  margin-left: 30px;
  margin-top: 0px;
}

.title,
.info,
.overview,
.genres,
.date,
.runtime,
.imdbRate {
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Utendo Medium";
}
.genres {
  color: #007bff;
  font-weight: bold;
  font-family: "Utendo Light";
}
.date {
  color: #007bff;
  font-weight: bold;
  font-family: "Utendo Light";
}

.overview {
  font-size: 0.9rem;
}

.backbutton {
  border: none;
  background-color: inherit;
  color: white;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .cardImage {
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .detailsContainer {
    align-items: center;
    text-align: center;
  }
}
