.detailsContainer {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.overview {
  color: #666;
  line-height: 1.6;
}

.info {
  font-weight: bold;
  margin-top: 10px;
}

.genres {
  margin-top: 5px;
  color: #007bff;
}
.date {
  margin-top: 5px;
  color: #007bff;
}

.button {
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  width: 50px;
}
