.container {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  margin: 10px 0;
}

.name {
  font-weight: bold;
}

.content {
  margin: 5px 0;
}

.timestamp {
  color: #999;
  font-size: 0.8em;
}
