.prevbutton {
  background-color: white;
  border: none;
  border-radius: 50%;
  margin: 45px;
  padding: 10px 12px;
  cursor: pointer;
  color: #007bff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}
.prevbutton:hover {
  background-color: #e7f3ff;
}

.prevbutton:disabled {
  color: grey;
  cursor: not-allowed;
  box-shadow: none;
}

.prevbutton:disabled:hover {
  background-color: white;
}
