.container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

.userIcon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.name {
  font-size: 1em;
  font-weight: bold;
  color: #333;
}
.timestamp {
  color: #999;
  font-size: 0.85em;
  margin-top: 0px;
  margin-left: auto;
}

.content {
  color: #555;
  font-size: 1em;
  line-height: 1.6;
  margin-top: 8px;
  width: 100%;
}

.container2 {
  flex-grow: 1;
  min-width: 0;
}

.blur {
  filter: blur(5px);
  cursor: pointer;
  user-select: none;
  color: red;
}

.blur:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
