.newCommentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 100px;
}

.newCommentTextarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none; /* If it's a textarea */
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 0.8rem;
  font-family: "Utendo Light";
  margin-bottom: 0;
  letter-spacing: 3px;
}

.newCommentTextarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

.newCommentButton {
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  padding: 10px 12px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  flex-direction: flex-right;
  margin-left: auto;
}
.newCommentButton:hover {
  background-color: #0056b3;
}

.userName {
  border: none;
  text-decoration: underline;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 0.8rem;
  font-family: "Utendo Light";
  margin-bottom: 0;
  letter-spacing: 3px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toggleButton {
  background-color: inherit;
  border: none;
  border-radius: 50%;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
  color: rgb(85, 85, 85);
  font-size: 40px;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.spoilerContainer {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 1rem;
  font-family: "Utendo Light";
  margin-bottom: 0;
  letter-spacing: 3px;
}

.toggleButton:hover {
  /* background-color: #5a6268; */
}

.isSpoilerOn {
  color: #218838;
}

.isSpoilerOn:hover {
  /* background-color: #218838; */
}
