@font-face {
  font-family: "Utendo Light";
  src: url(../../public/assets/utendo/Utendo-Light.ttf);
}

.menuItem {
  display: flex;
  align-items: center;
  font-family: "Utendo Light";
  font-size: 1.2rem;
  letter-spacing: 3px;
}

.link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link:hover {
  text-decoration: underline;
  color: blue;
}
.link:focus {
  color: blue;
}

.image {
  margin: 15px;
}
