@font-face {
  font-family: "Utendo Light";
  src: url(../../public/assets/utendo/Utendo-Light.ttf);
}
@font-face {
  font-family: "Utendo Medium";
  src: url(../../public/assets/utendo/Utendo-Medium.ttf);
}

.title {
  background-color: blue;
  color: white;
  margin-left: 40px;
  padding: 16px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: "Utendo Light";
  position: relative;
  display: inline-block;
  border-radius: 30px;
  margin-top: 30px;
}

.li {
  list-style: none;
  margin: 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  flex: 0 1 300px;
}
