@font-face {
  font-family: "Overwave";
  src: url(../../public/assets/overwave/Overwave.ttf) format("truetype");
  font-family: "Utendo Medium";
  src: url(../../public/assets/utendo/Utendo-Medium.ttf);
}
@font-face {
  font-family: "Utendo Light";
  src: url(../../public/assets/utendo/Utendo-Light.ttf);
}
@font-face {
  font-family: "Utendo Thin";
  src: url(../../public/assets/utendo/Utendo-Thin.ttf);
}

.container {
}
.headercontainer {
  background-color: black;
  color: white;
  padding: 30px 30px 30px 50px;
  display: flex;
  flex-direction: column;
}

.paragraph1 {
  font-size: 3rem;
  font-family: "Utendo Medium";
  margin-bottom: 0;
  letter-spacing: 3px;
}
.paragraph2 {
  font-size: 3rem;
  font-family: "Utendo Medium";
  margin-top: 16px;
  letter-spacing: 3px;
}

.paragraph3 {
  font-size: 2rem;
  font-family: "Utendo Light";
  letter-spacing: 3px;
  margin-top: 0;
}

.select {
  background-color: transparent;
  border: none;
  color: currentColor;
  font-family: "Utendo Medium";
  font-size: 3rem;
  letter-spacing: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 5px;
  color: rgb(244, 208, 101);
  margin-left: 20px;
  height: 100px;
  align-items: center;
  margin-right: 0;
}
.select::-ms-expand {
  display: none;
}

.select:hover {
  color: blue;
}

/* .option1, */
.option2,
.option3,
.option4,
.option5,
.option6,
.option7,
.option8,
.option9,
.option10 {
  background-color: #f0f0f0;
  color: rgb(190, 0, 0);
  font-size: 1rem;
}
.option1:hover,
.option2:hover,
.option3:hover,
.option4:hover,
.option5:hover,
.option6:hover,
.option7:hover,
.option8:hover,
.option9:hover,
.option10:hover {
}

.select:focus {
  outline: none;
}
.moviecontainer {
  margin: 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  flex: 0 1 300px;
  overflow: hidden;
}

.movieli {
  width: 33.333%;
  list-style: none;
}

.movieli:hover {
}
