@font-face {
  font-family: "Overwave";
  src: url(../../public/assets/overwave/Overwave.ttf) format("truetype");
  font-family: "Utendo Medium";
  src: url(../../public/assets/utendo/Utendo-Medium.ttf);
}
@font-face {
  font-family: "Utendo Light";
  src: url(../../public/assets/utendo/Utendo-Light.ttf);
}
@font-face {
  font-family: "Utendo Thin";
  src: url(../../public/assets/utendo/Utendo-Thin.ttf);
}

.container {
}
.headercontainer {
  background-color: black;
  color: white;
  padding: 30px 30px 30px 50px;
  display: flex;
  flex-direction: column;
}

.paragraph1 {
  font-size: 3rem;
  font-family: "Utendo Medium";
  margin-bottom: 0;
  letter-spacing: 3px;
}
.paragraph2 {
  font-size: 3rem;
  font-family: "Utendo Medium";
  margin-top: 16px;
  letter-spacing: 3px;
}

.paragraph3 {
  font-size: 2rem;
  font-family: "Utendo Light";
  letter-spacing: 3px;
  margin-top: 0;
}

.select {
  background-color: transparent;
  border: none;
  color: currentColor;
  font-family: "Utendo Medium";
  font-size: 3rem;
  letter-spacing: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 5px;
  color: rgb(244, 208, 101);
  margin-left: 20px;
  height: 100px;
  align-items: center;
  margin-right: 0;
}
.select::-ms-expand {
  display: none;
}

.select:hover {
  color: rgb(69, 31, 255);
}

/* .option1, */
.option2,
.option3,
.option4,
.option5,
.option6,
.option7,
.option8,
.option9,
.option10 {
  background-color: #f0f0f0;
  color: rgb(190, 0, 0);
  font-size: 1rem;
}
.option1:hover,
.option2:hover,
.option3:hover,
.option4:hover,
.option5:hover,
.option6:hover,
.option7:hover,
.option8:hover,
.option9:hover,
.option10:hover {
}

.select:focus {
  outline: none;
}
.moviecontainer {
  list-style: none;
  margin: 20px;
  /* padding: 20px; */
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease;
  flex: 0 1 300px;
  overflow: hidden;
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.movieul {
  display: flex; /* Use flexbox for horizontal layout */
  width: calc(100% * (movies.length / 3)); /* Set width based on movie count */
  transform: translateX(
    -${activeIndex * 100 / 3}%
  ); /* Move the window to show the correct movies */
  transition: transform 0.3s ease-in-out; /* Smooth transition for movement */
}
.movieli {
  width: 33.333%; /* Each movie takes up a third of the container */
  /* flex-shrink: 0; / */
}

.movieli:hover {
}

.movieImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.movieImage:hover {
}
